.btn-primary {
  background-color: $indigo;
  border: none;
  color: $light;

  &:hover,
  &.btn:active,
  &.btn.active,
  &.btn.show,
  &:focus-visible,
  &:first-child:active {
    color: $light;
    background-color: $deepIndigo;
    border-color: $deepIndigo;
    box-shadow: none;
  }

  &.btn:disabled,
  &.btn.disabled,
  fieldset:disabled {
    color: $light;
    background-color: $deepIndigo;
    border-color: $deepIndigo;
    box-shadow: none;
  }

  i {
    display: flex;
    font-size: 1.5rem;
  }
}
