p,
ol,
ul,
dl {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ------------------- Colors ------------------- */
$primary: #7286d3;
$secondary: #8ea7e9;
$pink: #e5e0ff;
$pastel: #fff2f2;
$primary-dark: #243844;
$secondary-dark: #4C6793;

// $primary: #6096B4;
// $secondary: #93BFCF;
// $pink: #BDCDD6;
// $pastel: #EEE9DA;

/* ------------------- box-sizing ------------------- */

* {
  box-sizing: border-box;
}

body {
  background: $pink;
  color: $primary-dark;
  // font-size: 15px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .todo__row {
    width: 50%;
    // background-color: #ECF2FF;
  }
}
