.task__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  .screen__state {
    display: flex;
    padding: 0.6rem 1rem;
    font-size: 20px;
    justify-content: center;
    margin-top: 1rem;
    word-break: break-word;
    word-wrap: break-word;
  }
}
