.todo__button {
  padding: 0.75rem;
  // background-color: $indigo;
  background-color: $green;
  border: none;
  color: $light;
  &:hover {
    color: $light;
    background-color: $deepGreen;
    border-color: $deepGreen;
    // background-color: $deepIndigo;
    // border-color: $deepIndigo;
  }

  i {
    display: flex;
    font-size: 1.5rem;
  }
}

.btn:first-child:active {
  color: $light;
  background-color: $green;
  border-color: $green;
  // background-color: $indigo;
  // border-color: $indigo;
}
