.todo__button {
  padding: 0.75rem;
  background-color: #4c6793;
  border: none;
  color: $pastel;
  &:hover {
    color: white;
    background-color: #4c6781;
    border-color: #4c6781;
  }

  i {
    display: flex;
    font-size: 1.5rem;
  }
}

.btn:first-child:active {
  color: white;
  background-color: #4c6781;
  border-color: #4c6781;
}
