.todo__search {
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  &:focus,
  &:active {
    // box-shadow: 0 0 1px $indigo;
    box-shadow: 0 0 1px $green;
    outline: 0;
  }
}
