.task__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.6rem 1rem;
  background: $secondary;
  border-radius: 6px;

  &--completed {
    background: $primary;
  }

  &-checkbox input {
    padding: 0.6rem;
    margin-top: 0;
  }

  &--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-left: 0.5rem;

    &-completed {
      text-decoration: line-through;
    }

    p {
      word-break: break-word;
      word-wrap: break-word;
    }

    i {
      display: flex;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        font-size: 1.3rem;
      }
    }
  }
}
